

@media (min-width: 460px) {
  .header-img{
    background-image: url("./img/fondo4.jpg");
  }
  
  .nav-row{
    height: 7vh;
   }
  .header-img{
    height: 93vh;
  }

}


/*
@media (min-width: 576px) {
  
}

@media (min-width: 768px) {
  h1{
    font-size: 5vw;
    margin: 0 25vw;
  }

  .marco{
    width: 60vw;
  }
}


@media (min-width: 992px) {
  h1{
    font-size: 4.5vw;
    margin: 0 28vw;
  }
}


@media (min-width: 1200px) {
  .container-princ{
    width: 86%;
    margin: 0 auto;
  }
  h1{
    font-size: 4vw;
    margin: 0 18vw;
  }
}


@media (min-width: 1400px) {
  .container-princ{
    width: 80%;
  }
  h1{
    font-size: 3.5vw;
    margin: 0 20vw;
  }
}


.circleComillas{
    position: absolute;
    top: -26px;
    left: 15px;
    width: 55px;
    height: 55px;
    background: white;
    border: 1px solid hsla(211,70%,24%,0.40);
    border-radius: 100%;
    text-align: center;
}
.comillas{
    position: absolute;
    top: 35px;
    left: 00px;
    font-size: 4em;
    color: hsla(211,70%,24%,0.40);
}
.circleComillasFin{
    position: absolute;
    bottom: -26px;
    right: 25px;
    width: 55px;
    height: 55px;
    background: white;
    border: 1px solid hsla(211,70%,24%,0.40);
    border-radius: 100%;
    text-align: center;
}
.comillasFin{
    position: absolute;
    bottom: -8px;
    left: 4px;
    font-size: 4em;
    color: hsla(211,70%,24%,0.40);
}
*/