

@media (min-width: 350px) {
  .nav-container,
  .panel-fondo,
  .panel{
    height: 92vh;
  }
  .nav-row{
    height: 8vh;
  }
  .header-container{
    height: 93.5vh;
  }
  .imagen-header{
    transform: scale(1.65); 
  }
  .logo{
    top: 20vh; 
    height: 19vh;
  }
  h1{ 
    /*  color: red; */
    top: 44vh;
    width: 80%; /**/
    font-size: 1.8rem;
    padding: 7vw; /**/
  }
  .marco{
    width: 85%;
    padding: 10vw 7vw;
    margin: 20vh 0 20vh;
  }
  .marco-plantas p{
    font-size: 1.35rem;
    line-height: 1.85rem;
    padding: 20px 15px; 
  }
  .row-icons div{
    width: 52px;
  }
  .contacto-sumate{ 
    /*border: 1px solid blue;*/
    padding: 30px 20px 10px;
    font-size: 1.5rem;
  }
  .footer{
    padding: 2.5vh 0 12vh;
  }  
}

/* Only for J7*/
@media (min-width: 370px) {
  .imagen-header{
    transform: scale(1.8); 
  }
  h1{
    top: 43vh;
    width: 80%; /**/
    font-size: 2rem;
    padding: 7vw; /**/
  } 

  .carousel-container{
    width: 340px;
  }
  .btn-carousel-l,
  .btn-carousel-r{
    height: 50px;
    width: 50px;
    line-height: 50px;
    top: 148px;/**/
  }
  .btn-carousel-l{
    left: -50px;
  }
  .btn-carousel-r{
    right: -50px;
  }
  .slides-container{
    width: 230px;
    height: 370px;
  } 
  .slide{
    padding: 35px 15px 65px;
  }
  .btn-semll-container{
    padding: 2px;
    border-radius: 16px;
    margin-top: -33px;
  }
  .btn-semll{
    font-size: 1.2rem;
    padding: 10px 16px;
    border-radius: 14px;
  }

  .row-icons{
    width: 80%;
  }
  .formu-container{ 
    height: 80vh;
  }
}
/* Only for J7*/


@media (min-width: 520px) {
  
  .panel{
    width: 40%;
  }
  .imagen-header{
    opacity: 0;
    visibility: hidden;
  }
  .img-head{ 
    /* border: 1px solid yellowgreen; */
    height: 93.5vh;
    width: 100%;
    background-image: url("./img/header_desk.jpg");  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .logo{
    top: calc(20vh + 2vw); 
    height: 200px;
  }
  h1{  /* color: blue;  */
    top: calc(44vh + 3vw);
    width: 450px;
    font-size: 2.7rem;
    padding: 2.2rem 2.4rem;
  }
  .los-prod{
    padding: 0 0 65px;
  }
  .cards{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;   
  }
  .marco{
    width: 450px;
    padding: 50px 30px;
    margin: 18vh 0;
  }
  .marco-plantas p{
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 25px 30px; 
  }
  .row-icons{
    padding: 50px 0;
    width: 350px;
  }
  .row-icons div{
    width: 50px;
  } 
  .contacto-sumate{ 
    /*border: 1px solid red;*/
    width: 400px;
    font-size: 1.8rem;
    padding: 20px 40px;
    margin-bottom: 10px;
  }
  .contact-form legend,
  .contact-form-response{
    font-size: 2rem;
    padding: 10px;
    margin-bottom: 15px;
  }
  .contact-form > *{
    padding: .8rem;
    margin: 1rem auto;
  } 
  .btn-cont{
    height: 40px;
    padding: 3px;
    margin: 40px auto 0px;
  }
  .btn-formu{
    height: 34px;
  }
}


@media (min-width: 768px) {
  .marco-plantas p{
    font-size: 1.6rem;
  } 
}


/* HTML con MARGEN  */

@media (min-width: 992px) {  
  html,
  .nav-container,
  .panel-fondo,
  .nav-row{
    width: calc(100% - 20vw);
    margin: 0 auto;
    
  }
}


@media (min-width: 1200px) {
  html,
  .nav-container,
  .panel-fondo,
  .nav-row{
    width: calc(100% - 25vw);
  }
}


@media (min-width: 1400px) {
  html,
  .nav-container,
  .panel-fondo,
  .nav-row{
    width: calc(100% - 30vw);
  }
  .img-head{
    background-size: calc(90% + 4vw);
  }
}


@media (min-width: 1600px) {
  .img-head{
    background-size: calc(93% - 6vw);
  }
}

