

@media (min-width: 350px) {     
  .container-nav{
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 93.5vh;
   }
  .nav-row{
    height: 6.5vh;
  }
  .nav-row-item:nth-child(1){
    padding-left: 15px;
  }
  .nav-row-item:nth-child(3){
    padding-right: 22px;
  }
  .panel{
    height: 93.5vh;
    position: absolute;
    top: -93.5vh;
  }
  .menu{
    height: 93.5vh;
    top: -93.5vh;
  }
  .header-container{
    height: 93.5vh;
  }
  .imagen-header{
    transform: scale(1.65); 
  }
  .logo{
    top: 20vh; 
    height: calc(19vh);
  }
  h1{ /*  color: red; */
    top: 45vh;
  }
  .info-card-fondo{
    padding: 10vh 0;
  }
  .info-card{
    height: 80vh;
    width: 88%;
  }  
  .info-row img{
    width: 50%;
    margin-left: 6px;
  }
  .img-info{
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
  .img-info-cuca{
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .xclose{
    width: 32px;
    height: 32px;
    line-height: 24px;
    font-size: 1.25rem;
    right: 8px;
    top: -15px;
  }  
  .prod-huerta{
    height: 110vh;
  }
  .carousel-container{
    width: 94%;
  }
  .carousel{
    height: calc(420px + 8vw);
    width: calc(280px + 8vw);  
  }
  .slide{
    width: calc(240px + 8vw);
  }
  .marco{
    width: 85%;
    padding: 10vw 7vw;
    margin: 20vh 0 20vh;
  }
  .marco-plantas p{
    font-size: 1.35rem;
    line-height: 1.85rem;
    padding: 20px 15px; 
  }  
  .contacto-envios{
    padding: 35px 0 0px;
  }
  .row-icons{
    padding: 35px 0;
  }  
  .row-icons div{
    width: 48px;
  }
  .contacto-sumate{ /*border: 1px solid blue;*/
    padding: 30px 20px 10px;
    font-size: 1.5rem;
  }
  .footer{
    padding: 2.5vh 0 3vh;
    margin-bottom: 6vh;
  }  
}

/* Only for J7*/
@media (min-width: 370px) {
  .prod-huerta{
    height: 100vh;
  }
  .contacto-envios{
    padding: 40px 0 0px;
  }
  .row-icons{
    padding: 40px 0;
  }
  .formu-container{ 
    height: 80vh;
  }
}
/* Only for J7*/


@media (min-width: 520px) {
  .nav-row-item-border{
    width: calc(19vw - 3.5vw);
  }
  .nav-row-item:nth-child(1){
    padding-left: calc(25px + 1vw);
  }
  .nav-row-item:nth-child(3){
    padding-right: calc(22px + 1vw);
  }
  .nav-row-item:nth-child(2) a{
    font-size: 1.6rem;
  }
  @keyframes menu-in{
    100%{
      width: 50vw;
      padding: 0 4vw 0 6vw;
    }
  }
  .imagen-header{
    opacity: 0;
  }
  .img-head{ /*border: 1px solid yellowgreen;*/
    height: 93.5vh;
    background-image: url("./img/header-desk.jpg");  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .logo{
    top: 20vh; 
    height: calc(20vh);
  }
  h1{ /*  color: blue;  */
    top: 45vh;
    width: 65%;
    font-size: calc(1.7rem + 2vw);
  }
  .los-prod{
    padding: 0 0 65px;
  }
  .titu-manten{ 
    padding: 50px calc(10vw + 10vw);
  }
  .titu-manten p{
    font-size: calc(1.9rem + .2vw);
    line-height: 2.7rem;
    padding-bottom: 20px;
  }
  .cards{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;   
  }
  .card, .card:first-child{
    margin: 50px 30px 0;
  }
  .card:last-child{
    margin-bottom: 0px;
  }
  .info-card-fondo{
    padding: 14vh 0;
  }
  .info-card-container{
    width: 430px;
  }
  .info-card{
    height: 70vh;
    width: 430px;
  }  
  .info-row{
    margin-left: 30px;
    margin-right: 30px;
  }
  .info-row img{
    width: 18vh;
    height: 18vh;
    margin-left: 0px;
    margin-right: 6px;
  }
  .img-info{
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
  .img-info-cuca{
    font-size: 1.4rem;
    line-height: 1.8rem;
  }  
  .info-card-info{
    padding: 10px 50px;
  }
  .card-info-1{
    font-size: 1.35rem;
  }  
  .card-info-2, 
  .card-info-3,
  .card-info-4,
  .card-info-5{
    font-size: 1.25rem;
  }
  .card-info-2 div, 
  .card-info-3 div,
  .card-info-4 div,
  .card-info-5 div{
    font-size: 1.35rem;
  }
  .xclose{
    width: 34px;
    height: 34px;
    line-height: 25px;
    font-size: 1.4rem;
    right: -15px;
    top: -15px;
  }  
  .prod-huerta{
    height: 85vh;
  }
  .bq-semillas{
    font-size: calc(1.9rem + .2vw);
    line-height: 2.7rem;
    padding: 60px calc(10vw + 10vw) 50px;;
  }
  .carousel-container{
    width: calc(85% - 10vw);
  }
  .carousel{
    height: calc(500px + 10vw);
    width: calc(330px + 10vw);  
  }
  .slide{
    width: calc(270px + 10vw);
  } 
  .marco{
    width: 450px;
    padding: 50px 30px;
    margin: 18vh 0;
  }
  .marco-plantas p{
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 25px 30px; 
  }  
  .contacto-envios{
    font-size: calc(1.9rem + .2vw);
    line-height: 2.7rem;
    padding: 50px 0 0px;
  }
  .row-icons{
    padding: 50px 0;
    width: 350px;
  }
  .row-icons div{
    width: 50px;
  } 
  .contacto-sumate{ /*border: 1px solid red;*/
    width: 400px;
    font-size: 1.8rem;
    padding: 20px 40px;
    margin-bottom: 10px;
  }
  .contact-form legend,
  .contact-form-response{
    font-size: 2rem;
    padding: 10px;
    margin-bottom: 15px;
  }
  .contact-form > *{
    padding: .8rem;
    margin: 1rem auto;
  } 
  .btn-cont{
    height: 40px;
    padding: 3px;
    margin: 40px auto 0px;
  }
  .btn-formu{
    height: 34px;
  }
}


@media (min-width: 768px) {
  .nav-row-item-border{
    width: calc(18vw - 5vw);
  }
  .nav-row-item:nth-child(1){
    padding-left: calc(25px + 2vw);
  }
  .nav-row-item:nth-child(3){
    padding-right: calc(22px + 2vw);
  }
  @keyframes menu-in{
    100%{
      width: 43vw;
      padding: 0 3vw 0 5vw;
    }
  }
  .img-head{ /*border: 1px solid red;    */
    width: 100%;
    background-size: cover;
  }
  .logo{
    top: 20vh; 
    height: calc(20vh);
  }
  h1{ /*  color: red; */
    top: 45vh;
    width: 60%;
    font-size: calc(1.7rem + 1.5vw);
  } 
  .prod-huerta{
    height: 100vh;
  }
  .carousel-container{
    width: calc(85% - 10vw);
  }
  .carousel{
    height: calc(500px + 10vw);
    width: calc(330px + 10vw);  
  }
  .slide{
    width: calc(270px + 10vw);
  }  
  .marco-plantas p{
    font-size: 1.6rem;
  } 
}


/* HTML con MARGEN  */

@media (min-width: 992px) {  
  html{
    width: calc(100% - 20vw);
    margin: 0 auto;
    box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.15);
  }
  .nav-row-item-border{
    width: calc(20vw - 9vw);
  }
  .nav-row-item:nth-child(1){
    padding-left: calc(25px + .5vw);
  }
  .nav-row-item:nth-child(3){
    padding-right: calc(22px + .5vw);
  }
  @keyframes menu-in{
    100%{
      width: 35vw;
      padding: 0 3vw 0 5vw;
    }
  }
  .img-head{ /*border: 1px solid blue;    */
  }
  h1{   color: blue; 
    top: 45vh;
    width: 55%;
    font-size: calc(1.7rem + 1vw);
  } 
  .info-card-fondo{
    width: calc(100% - 20vw);
    margin: 0 auto;
  }
  .prod-huerta{
    height: 130vh;
  }
  .carousel-container{
    width: calc(80% - 10vw);
  }
  .carousel{
    height: calc(520px + 15vw);
    width: calc(350px + 15vw);  
  }
  .slide{
    width: calc(290px + 10vw);
  }
}


@media (min-width: 1200px) {
  html{
    width: calc(100% - 25vw);
  }
  .nav-row-item-border{
    width: calc(19vw - 11vw);
  }
  .nav-row-item:nth-child(1){
    padding-left: calc(25px + 2vw);
  }
  .nav-row-item:nth-child(3){
    padding-right: calc(22px + 2vw);
  }
  @keyframes menu-in{
    100%{
      width: 33vw;
      padding: 0 3vw 0 5vw ;
    }
  }
  .logo{
    top: calc(18vh + 4vw);
    height: calc(17vh + 1.3vw);
  }
  h1{  color: red;
    top: calc(42vh + 4vw);
    width: 55%;
    font-size: calc(1.3rem + 2vw);
    padding: 3vw 6vw;
  }
}


@media (min-width: 1400px) {
  html{
    width: calc(100% - 30vw);
  }
  .nav-row-item-border{
    width: calc(18.5vw - 12vw);
  }
  @keyframes menu-in{
    100%{
      width: 35vw;
      padding: 0 2vw 0 5vw ;
    }
  }
  .img-head{ /*border: 1px solid red;*/
    background-size: calc(90% - 5vw);
  }
  .logo{
    top: calc(18vh + 4vw);
    height: calc(20vh + 1.3vw);
  }
  h1{  color: blue;
    top: calc(44vh + 4vw);
    width: 50%;
    font-size: calc(1.3rem + 2vw);
    padding: 3vw 6vw;
  }
}


@media (min-width: 1600px) {
  .img-head{ /*border: 1px solid red;  */ 
    background-size: calc(85% - 8vw);
  }
  .logo{
    top: calc(12vh + 3vw);
    height: calc(19vh + 1vw);
  }
  h1{  color:red;
    top: calc(37vh + 3vw);
    width: 47%;
    font-size: calc(1.3rem + 2vw);
    padding: 3vw 6vw;
  }
}

