
/*-----------   Formularios   --------------------*/

.contact-form-loader{
  text-align: center;  
}
.formu-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  background-image: url("./img/fondo_formu.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contacto-sumate{ /*border: 1px solid blue;*/
  padding: 20px 40px;  
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.4rem;
  background-color: rgb(255, 255, 255, .75);
  border-radius: 6px;
}

.formu{
  /*border: 1px solid green;*/
}
.contact-form legend,
.contact-form-response{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px #000;
  padding: 0;
  margin-bottom: 15px;  
  /*border: 1px solid green;*/
}
.contact-form{
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.contact-form > *{
  padding: .7rem;
  margin: .7rem auto;
  display: block;
  width: 100%;
  border-radius: 6px;
}
.contact-form textarea{
  resize: none;
}
.contact-form input,
.contact-form textarea{
  font-size: 1rem;
  font-family: sans-serif;
  background-color: rgb(255, 255, 255, .65);
}

.btn-cont{
  background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  width: 42%;
  height: 40px;
  padding: 3px;
  border-radius: 22px; 
  margin: 20px auto 20px;
}
.btn-formu{
  height: 34px;
  border-radius: 20px;
}
.contact-form input[type="submit"]{
  background-color: #fff;
  color: blue;
  font-size: 1.3rem;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.contact-form *::placeholder{
color: #000;
}

.contact-form [required]:valid{
border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid{
border: thin solid var(--form-error-color);
}

.contact-form-error{
margin-top: -1rem;
font-size: 80%;
background-color: var(--form-error-color);
color: #fff;
transition: all 800ms ease;
}

.contact-form-error.is-active{
display: block;
animation: show-message 1s 1 normal 0s ease-out both;
}

.none{
display: none;
}

@keyframes show-message{
0%{
    visibility: hidden;
    opacity: 0;
}
100%{
    visibility: visible;
    opacity: 1;
}
}



@media (min-width: 350px) {
  .contacto-sumate2{
    padding: 20px 0 5px;
    font-size: 1.45rem;
  }
  
  .contact-form legend,
  .contact-form-response{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px #000;
    padding: 0 20vw;
    margin-bottom: 20px;  
  }
  
  .contact-form input,
  .contact-form textarea{
    font-size: 1rem;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255, .65);
  }
    
  .btn-cont{
    background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    width: 45%;
    height: 44px;
    padding: 4px;
    border-radius: 24px; 
    margin: 25px auto 30px;
  }
  .btn-formu{
    height: 36px;
    border-radius: 20px;
  }
  
  .contact-form input[type="submit"]{
    background-color: #fff;
    color: blue;
    font-size: 1.3rem;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    border: none;
  }
}



@media (min-width: 520px) {
}


@media (min-width: 768px) {  
}


/* HTML con MARGEN  */

@media (min-width: 992px) {
}


@media (min-width: 1200px) {
}


@media (min-width: 1400px) {
}


@media (min-width: 1600px) {
}


