
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&display=swap');

html{
  box-sizing: border-box; 
  margin: 0;
  padding: 0;   
  scroll-behavior: smooth;
  /* font-family: 'Karla', sans-serif; */
  font-family: 'Jost', sans-serif;
}
*,
*:before,
*:after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}    
body{
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.15);
}
img{
  height: 100%;
}
/* ----- extras ----- */
.btn-on{
  animation-name: btn-on;
  animation-duration: .2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}
@keyframes btn-on{
  100%{
    transform: scale(1.1);
  }
} 

.bckg-no-scroll{
  overflow: hidden;
} 

/* ------------------- */


/* *****  NAV   ***** */
.nav-container{
  position: fixed;
  height: 90vh;
  width: 100%;
  overflow: hidden;
  visibility: hidden;
  z-index: 1600;
}
.panel-fondo{
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  height: 90vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease-in-out;
  z-index: 1600;
}
.fondo-active{
  opacity: 1;   
  visibility: visible;
}
.panel{
  background-color: rgb(206, 254, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60%;
  height: 90vh;
  transition: all .3s ease-out;
  transform: translateX(-100%);
  visibility: visible;
  z-index: 1600;
}
.panel-active {
  transform: translateX(0%);    
}

.panel-item{
  margin: 25px 0;
}
.panel-item a{  
  background-color: rgb(242, 251, 255);
  border: 2px solid rgb(123, 227, 235);
  padding: 10px;
  border-radius: 3px;
  font-size: 1.1rem;
  color: rgb(0, 21, 141);
  text-decoration: none;
}
.nav-row{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  position: fixed;
  bottom: 0;
  height: 10vh;
  min-height: 40px;
  width: 100%;
  box-shadow: 0px -7px 14px -2px rgb(225, 225, 225, .7);
  z-index: 1600;
}
.nav-row-div{
  /* border: 1px solid red; */
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-row-div:nth-child(1){
  padding-left: 10px;
}
.nav-row-item{
  background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 8px;
  box-shadow: 0 1px 3px 1px rgb(210, 210, 210);
}
.nav-row a{
  background-color: rgb(255, 255, 255);
  font-size: 1.1rem;
  color: rgb(14, 14, 255);
  text-decoration: none;
  padding: 4px 6px;
  border-radius: 6px;
}
.nav-row-div:nth-child(2) .nav-row-item{
  background: none;
  box-shadow: none;  
}
.nav-row-div:nth-child(2) .nav-row-item a{
  color: rgb(46, 46, 46);
  font-size: 1.3rem;
  font-weight: bold;
}
.btn-hamb{
  background-color: rgb(255, 255, 255);
  padding: 6px;
  border-radius: 6px;
}
.btn-hamb .line{
  background-color:rgb(32, 32, 245);
  width: 30px;
  height: 3px;
  border-radius: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}
.btn-hamb .line:nth-child(1) {
  margin-top: 0;
}
.btn-hamb .line:nth-child(3) {
  margin-bottom: 0;
}
.btn-hamb.isactive .line:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
.btn-hamb.isactive .line:nth-child(1) {
  transform: translateY(8px) translateX(0px) rotate(45deg);
}
.btn-hamb.isactive .line:nth-child(3) {
  transform: translateY(-8px) translateX(0px) rotate(-45deg);
}
/* *****  FIN NAV   ***** */

/* *****  SEPARADORES   ***** */
.separador{
  line-height: 50px;
  /* position: sticky;
  top: 0px;
  z-index: 1500; */
}
.separador p{  
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0px 20px;
  color: rgb(255, 255, 255);
  letter-spacing: 0.001rem;
}
.separador span{
  font-size: 1.1rem;
  letter-spacing: 0.0090rem;
  margin-left: 10px;
}
.sprdr-cards,
.sprdr-huerta,
.sprdr-acerca,
.sprdr-ventas,
.sprdr-contc{
  background: linear-gradient(37deg, rgba(10,0,187,1) 0%, rgba(58,121,251,1) 31%, rgba(247,0,255,1) 100%);   
}
/* .sprdr-acerca{
  text-align: center; 
}
.sprdr-ventas, .sprdr-contc{
  text-align: center;
} */

.bq-semillas,
.bq-manten,
.bq-social-icons{
  text-align: center;
  padding: 50px 40px 40px;
}
.bq-semillas p,
.bq-manten p,
.bq-social-icons p{
  color: rgb(5, 153, 5);
  font-size: 1.7rem; 
  line-height: 2.2rem;
  border-bottom: 2px solid rgb(113, 194, 113);
  padding-bottom: 16px;
}
/* *****  FIN SEPARADORES   ***** */

/* *****  HEADER   ***** */
.header-container{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92vh;
  position: relative;
  overflow: hidden;
}
.header-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen-header{
  transform: scale(1.42);
  position: absolute;
  max-width: 100%;
  height: auto;
}
.img-head{
  position: absolute;
}

.logo{ 
  position: -webkit-absolute;
  position: -moz-absolute;
  position: -o-absolute;
  position: -ms-absolute;  
  position: absolute;
  top: 15vh; 
  height: 20vh;
  opacity: 0;
  animation-name: logo-in;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;
}
@keyframes logo-in{
  100%{   
    opacity: 1;
  }
}

h1{  
  position: absolute;
  top: 38vh;
  width: 80%;
  padding: 5vw 7vw;
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  letter-spacing: .12rem;
  font-weight: 500;
  line-height: 1.85rem;
  text-shadow: 0 2px 2px #000;
  background: linear-gradient(45deg, rgba(6, 173, 43, 0.55) 0%, rgba(18, 141, 223, 0.65) 100%);
  box-shadow: 
  inset 0px 6px 6px -4px rgb(131, 255, 245),
  inset -7px 0px 10px -6px rgb(131, 255, 245),
  inset 0px -7px 10px -6px rgb(131, 255, 245),
  inset 7px 0px 10px -6px  rgb(131, 255, 245);
  border-radius: 10px;  
  transform: translateX(-100vw);
  animation-name: texto-in;
  animation-delay: 0s;
  animation-duration: .6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;
}
@keyframes texto-in{
  100%{
    transform: translateX(0);   
  }
}
/* *****  FIN HEADER   ***** */


/* *****  SECTION CARDS   ***** */
.cards-container{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card{
  background-color: rgb(249, 255, 249);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  border: 3px solid rgb(113, 194, 113);
  border-radius: 10px;
  width: 280px;
  margin: 0 22px 44px;      
  overflow: hidden;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, .1);
}
.card img{
  width: 70%;
  box-shadow: 0px 16px 10px 8px rgba(196, 196, 196, 0.85);
  margin-top: 15px;
  cursor: pointer;
}
.figcap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 25px;
  background-color: rgb(250, 250, 250);
  border-top: 2px solid rgb(113, 194, 113);
}
.figcap p{
  font-size: 1.15rem;  
  text-align: center;
}
.btn-card-border{
  background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin-left: 12px;
  border-radius: 14px;  
  box-shadow: 0 2px 3px 1px rgb(205, 205, 205);
}
.btn-card{
  background-color: white;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  width: 90px;
  color: rgb(14, 14, 255);  
  font-size: 1.12rem ;
  line-height: 1.4rem;
  text-align: center;
  padding: 8px 10px;
  border-radius: 12px;  
  cursor: pointer;
}
/*  INFO CARD  */
.info-card-fondo{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation-name: show-card;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;
}
@keyframes show-card{
  100%{   
    opacity: 1;
  }
}
.info-card-container{
  position: relative;
  margin-top: -70vh;
  animation-name: fade-card;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;
}
@keyframes fade-card{
  100%{
    margin-top: 0;
  }
}
.info-card-card{ 
  background-color: #fff;
  border: 4px solid rgb(184, 255, 251);
  border-radius: 20px;
  width: 250px;
  height: 400px;
  overflow: hidden;
}
.info-card-header{ 
  background-color: #fff;
  margin: 0 20px;
  height: 35%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(184, 255, 251);
}
.info-card-header img{
  border: 3px solid rgb(184, 255, 251);
  border-radius: 50%;
}
.info-card-h1{
  font-weight: bold;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: green;
  padding: 0 10px;
}
.info-card-info{
  height: 65%;
  overflow-y: scroll;
  padding: 25px 21px 20px;
}
.description{
  padding: 0px 10px 25px 15px;
  font-size: 1.2rem;
  color: green;
}
.title{
  border-top: 2px dotted rgb(211, 211, 211);
  color: green;
  font-size: 1.2rem;
  padding: 20px 10px 4px;
}
.info-txt{
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0px 15px 10px 10px;
}
.xclose{
  border: 2px solid rgb(255, 166, 64);
  justify-content: center;
  display: flex;
  width: 30px;
  height: 30px;
  line-height: 24px;
  font-size: 1.2rem;
  border-radius: 50%;
  background-color: rgb(255, 36, 36);
  color: #fff;
  position: absolute;
  right: -12px;
  top: -15px;
  cursor: pointer;
  z-index: 3000;
}
.no-scroll{
  height: 100%;
  overflow: hidden;
}   
/* *****  FIN SECTION CARDS   ***** */

/* *********  SECTION CAROUSEL  ************  */
.prod-huerta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 70px;
}
.carousel-cntr{
  background-color: rgb(252, 255, 252);
  border: 3px solid rgb(113, 194, 113);
  width: 310px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden ;
}

.btn-crsl-cntr{
  position: absolute;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px -2px rgb(146, 146, 146, .6);
}
.btn-crsl-cntr svg{
  fill: rgb(210, 255, 212);
  background-color: rgba(105, 187, 105, 0.85);
  height: 100%;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
}
.btn-crsl-l{
  left: -50px;
}
.btn-crsl-r{
  right: -50px;
}
.carousel{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slides-cntr{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 320px;
} 
.slide{
  position: absolute;
  padding: 35px 15px 65px;
  height: 100%;
  opacity: 0;
}
.slide img{
  border: 2px solid rgb(255, 133, 111);
  height: 100%;
  width: auto;
  border-radius: 8px;
  box-shadow: 0 5px 10px -2px rgb(146, 146, 146, .6);
  /* cursor: pointer; */
}
.btn-semll-cntr{
  background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  position: absolute;
  /* margin-bottom: -320px; */
  top: 468px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 16px;
  box-shadow: 0 1px 3px 1px rgb(210, 210, 210);
}
.btn-semll{
  background-color: rgb(255, 255, 255);
  font-size: 1.12rem;
  color: rgb(14, 14, 255);
  padding: 6px 12px;
  border-radius: 14px;
  text-align: center;
  cursor: pointer;
}
.lista-semll-cntr{
  background-color: rgb(238, 238, 238);
  height: 0vh; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}
.lista-semll{
  background-color: #fff;
  width: 90%;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid rgb(102, 102, 255);
}

table, th, td {
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}
th, td {
  border-bottom: 1px solid blue;
  border-right: 1px solid blue;
  padding: 15px;
}
tr th:last-child,
tr td:last-child{
  border-right: none;
}
tr:last-child td{
  border-bottom: none;
}

.ver-lista{
  animation-name: ver-lista;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes ver-lista{
  0%{
  }
  30%{ 
    height: 100%;      
    padding: 10vh 0;
  }
  70%{
    height: 100%;
    padding: 10vh 0;
    opacity: 1;
    visibility: visible;
  }
  100%{
    height: 100%;
    padding: 10vh 0;
    opacity: 1;
    visibility: visible;
    margin-top: -5vh;
  }
}
.cerrar-lista{
  animation-name: cerrar-lista;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes cerrar-lista{
  0%{
    background-color: rgb(230, 230, 230);
    height: 100%;
    padding: 8vh 0;
    opacity: 1;
    visibility: visible;
    margin-top: -5vh;
  }
  20%{
    background-color: #fff;
    opacity: .3;
  }
  60%{
    margin-top: 15vh;
  }
  80%{
    height: 0;
  }
  100%{
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
  }
}

/* ---- ANIMATIONS CAROUSEL ---- */
.to-left-2{
  animation-name: to-left-2;
  animation-duration: .6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes to-left-2{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(-200%);
  }
} 
.left-2-to-left{
  animation-name: left-2-to-left;
  animation-duration: .6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes left-2-to-left{
  0%{
    transform: translateX(-200%);
  }
  100%{
    transform: translateX(-100%);
  }
} 
.left-to-center{
  animation-name: left-to-center;
  animation-duration: .6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes left-to-center{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}
.center-to-left{
  animation-name: center-to-left;
  animation-duration: .6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes center-to-left{
  100%{
    transform: translateX(-100%);
  }
}  
.center-to-right{
  animation-name: center-to-right;
  animation-duration: .6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes center-to-right{
  100%{
    transform: translateX(100%);
  }
}  
.right-to-center{
  animation-name: right-to-center;
  animation-duration: .6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes right-to-center{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0%);
  }
} 
.right-2-to-right{
  animation-name: right-2-to-right;
  animation-duration: .6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes right-2-to-right{
  0%{
    transform: translateX(200%);
  }
  100%{
    transform: translateX(100%);
  }
} 
.to-right-2{
  animation-name: to-right-2;
  animation-duration: .6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes to-right-2{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(200%);
  }
} 
/* *********  FIN SECTION CAROUSEL  ************  */


/* *********  SECTION ACERCA  ************  */
.acerca{
  background-image: url("./img/fondo_acerca.jpg");  
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.marco{
  background-color: rgb(255, 255, 255);
  border: 5px solid rgb(255, 201, 23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 94%;
  padding: 10vw 7vw;
  margin: 30vh 0;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;  
}
.marco-plantas p{
  color: rgb(53, 53, 53);
  font-size: 1.3rem;
  line-height: 1.4rem;
  padding: 20px 15px; 
  border-top: 2px solid rgba(255, 201, 23, 0.733);
  border-bottom: 2px solid rgba(255, 201, 23, 0.733);
}
/* *********  FIN SECTION ACERCA  ************  */


/* *********  SECTION VENTAS y CONTACTO  ************  */
.social-icons{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row-icons{ 
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 82%;
  padding: 0 0 50px;
}
.row-icons div{
  background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  padding: 2px;
  border-radius: 50%;
  box-shadow: 0 1px 3px 1px rgb(210, 210, 210);
}
.row-icons div a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-icons div img{
  background-color: #fff;
  max-width: 100%;
  height: auto;
  padding: 6px;
  border-radius: 50%;
}
/* ********* FIN SECTION VENTAS y CONTACTO  ************  */


.footer{
  width: 100%;
  padding: 2.5vh 0 14.5vh;
  background: rgba(0, 56, 42, 0.98);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  letter-spacing: .08rem;
  text-align: center;
  /* margin-bottom: 12vh; */
  /*border: 1px solid red;*/
}
/* ********* FIN  ************  */





