

html{
  box-sizing: border-box; 
  margin: 0;
  padding: 0;   
  scroll-behavior: smooth;
}
*,
*:before,
*:after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}    
body{
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.15);
}
/* img{
    max-width: 100%;
    height: auto;
} */

/* *****  SEPARADORES TITU  ***** */
.separador{
  position: sticky;
  top: 0;
  z-index: 1500;
}
.separador p{
  font-family: 'Public Sans', sans-serif;
  font-size: calc(1.35rem + 1vw);
  color: rgb(255, 255, 255);
  font-weight: bolder;
  padding: 0px 20px;
}
.separador span{
  font-size: 1.1rem;
  margin-left: 10px;
}
.titu-huerta{
  background: linear-gradient(37deg, rgba(10,0,187,1) 0%, rgba(58,121,251,1) 31%, rgba(247,0,255,1) 100%);
  line-height: 50px;
  width: 100%;
}

/* *********  CAROUSEL  ************  */

.prod-huerta{
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bq-semillas{
  text-align: center;
  padding: 40px calc(10vw + 3vw);
}
.bq-semillas p{
  font-family: 'Sansita Swashed', cursive;
  color: green;
  font-size: 1.7rem; 
  line-height: 2.2rem;
  border-bottom: 2px solid rgb(173, 209, 173) ;
  padding-bottom: 16px;
}
.carousel-container{
  background-color: rgb(145, 220, 255);
  width: 310px;
  padding: 15px 5px;
  border-radius: 15px;
  /* overflow-x: hidden ; */
}
.btn-carousel-l{
  border: 1px solid rgb(255, 0, 0);
  height: 44px;
  width: 44px;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  position: absolute;
  top: 128px;
  left: 0px;
  z-index: 150;
}
.btn-carousel-r{
  border: 1px solid rgb(0, 110, 255);
  height: 44px;
  width: 44px;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  position: absolute;
  top: 128px;
  right: 0px;
  z-index: 150;
}
.carousel{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* overflow-x: hidden; */
}
.slides-container{
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
} 
.slide{
  background-color: rgb(255, 255, 255);
  position: absolute;
  padding: 10px;
  height: 300px;
  z-index: 99;
}
.slide img{
  height: 100%;
}
/* ************************************************* */



.to-left-2{
  animation-name: to-left-2;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes to-left-2{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(-200%);
  }
} 
.left-2-to-left{
  animation-name: left-2-to-left;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes left-2-to-left{
  0%{
    transform: translateX(-200%);
  }
  100%{
    transform: translateX(-100%);
  }
} 
.left-to-center{
  animation-name: left-to-center;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes left-to-center{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}
.center-to-left{
  animation-name: center-to-left;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes center-to-left{
  100%{
    transform: translateX(-100%);
  }
}  
.center-to-right{
  animation-name: center-to-right;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes center-to-right{
  100%{
    transform: translateX(100%);
  }
}  
.right-to-center{
  animation-name: right-to-center;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes right-to-center{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0%);
  }
} 
.right-2-to-right{
  animation-name: right-2-to-right;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes right-2-to-right{
  0%{
    transform: translateX(200%);
  }
  100%{
    transform: translateX(100%);
  }
} 
.to-right-2{
  animation-name: to-right-2;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes to-right-2{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(200%);
  }
} 



/* ************************************************* */


