

html{
  box-sizing: border-box; 
  margin: 0;
  padding: 0;   
  scroll-behavior: smooth;
  font-family: 'Public Sans', sans-serif;
}
*,
*:before,
*:after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}    
body{
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.15);
}
/* img{
    max-width: 100%;
    height: auto;
} */

/* *****  SEPARADORES TITU  ***** */
.separador{
  position: sticky;
  top: 0;
  z-index: 1500;
}
.separador p{  
  font-size: calc(1.35rem + 1vw);
  color: rgb(255, 255, 255);
  font-weight: bolder;
  padding: 0px 20px;
}
.separador span{
  font-size: 1.1rem;
  margin-left: 10px;
}
.titu-huerta{
  background: linear-gradient(37deg, rgba(10,0,187,1) 0%, rgba(58,121,251,1) 31%, rgba(247,0,255,1) 100%);
  line-height: 50px;
  width: 100%;
}

/* .los-prod{
  background-color: rgb(222, 252, 198);
} */
.cards-container{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card{
  background-color: rgb(248, 248, 248);
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, .2);
  margin: 0 22px 44px;      /* overflow: hidden; */
}
.card img{
  width: 70%;
  box-shadow: 0px 16px 10px 8px rgba(196, 196, 196, 0.85);
  margin-top: 15px;
}
.figcap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 25px;
  background-color: rgb(250, 250, 250);
  border-top: 3px solid rgb(255, 255, 255);
}
.figcap p{
  font-size: 1.15rem;  
  text-align: center;
}
.btn-card{
  border: 3px solid rgb(100, 208, 216);
  background-color: white;
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  color: rgb(1, 77, 177);
  font-size: 1.15rem ;
  line-height: 1.45rem;
}
/*  INFO CARD  */
.info-card-fondo{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation-name: show-card;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;
}
@keyframes show-card{
  100%{   
    opacity: 1;
  }
}
.info-card-container{
  position: relative;
  margin-top: -200vh;
  animation-name: fade-card;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;
}
@keyframes fade-card{
  100%{
    margin-top: 0;
  }
}
.info-card-card{ 
  background-color: #fff;
  font-family: 'Public Sans', sans-serif;
  border: 3px solid rgb(152, 246, 253);
  border-radius: 20px;
  width: 250px;
  height: 400px;
  overflow: hidden;
}
.info-card-header{ 
  border-bottom: 2px solid rgb(186, 250, 255);
  margin: 0 20px;
  background-color: #fff;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-card-header img{
  border: 3px solid rgb(152, 246, 253);
  width: 50%;
  border-radius: 50%;
}
.info-card-h1{
  font-weight: bold;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: green;
  padding: 0 10px;
}
.info-card-info{
  height: 65%;
  overflow-y: scroll;
  padding: 25px 3px 20px 20px;
}
.description{
  padding: 0px 10px 25px 15px;
  font-size: 1.2rem;
  color: green;
}
.title{
  border-top: 2px dotted rgb(211, 211, 211);
  color: green;
  font-size: 1.2rem;
  padding: 20px 10px 4px;
}
.info-txt{
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0px 15px 10px 10px;
}
.xclose{
  border: 2px solid rgb(255, 166, 64);
  justify-content: center;
  display: flex;
  width: 30px;
  height: 30px;
  line-height: 24px;
  font-size: 1.2rem;
  border-radius: 50%;
  background-color: rgb(255, 36, 36);
  color: #fff;
  position: absolute;
  right: -12px;
  top: -15px;
  cursor: pointer;
  z-index: 3000;
}
.no-scroll{
  height: 100%;
  overflow: hidden;
}   
/*  FIN INFO CARD  */ 

/* *********  CAROUSEL  ************  */

.prod-huerta{
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bq-semillas,
.bq-manten{
  text-align: center;
  padding: 40px;
}
.bq-semillas p,
.bq-manten p{
  color: green;
  font-size: 1.7rem; 
  line-height: 2.2rem;
  border-bottom: 2px solid rgb(173, 209, 173) ;
  padding-bottom: 16px;
}
.carousel-container{
  background-color: rgb(252, 252, 252);
  border: 3px solid rgb(220, 220, 220);
  width: 310px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden ;
}
.btn-carousel-l,
.btn-carousel-r{
  background-color: rgb(173, 255, 228, .5);
  border: 2px solid rgb(99, 232, 255, .5);
  height: 44px;
  width: 44px;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  position: absolute;
  top: 148px;  
  z-index: 150;
}
.btn-carousel-l{
  left: -50px;
}
.btn-carousel-r{
  right: -50px;
}
.btn-crsl-on{
  animation-name: btn-crsl-on;
  animation-duration: .2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@keyframes btn-crsl-on{
  100%{    
    background-color: rgb(119, 255, 210);
    border: 2px solid rgb(71, 227, 255);
  }
} 
.carousel{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* overflow-x: hidden; */
}
.slides-container{
  /* background-color: lightgreen; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 340px;
} 
.slide{
  position: absolute;
  padding: 20px 15px;
  height: 300px;
  opacity: 0;
  /* z-index: 99; */
}
.slide img{
  height: 100%;
  box-shadow: 0 5px 12px 0px rgb(146, 146, 146);
}
/* ************************************************* */



.to-left-2{
  animation-name: to-left-2;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes to-left-2{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(-200%);
  }
} 
.left-2-to-left{
  animation-name: left-2-to-left;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes left-2-to-left{
  0%{
    transform: translateX(-200%);
  }
  100%{
    transform: translateX(-100%);
  }
} 
.left-to-center{
  animation-name: left-to-center;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes left-to-center{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}
.center-to-left{
  animation-name: center-to-left;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes center-to-left{
  100%{
    transform: translateX(-100%);
  }
}  
.center-to-right{
  animation-name: center-to-right;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes center-to-right{
  100%{
    transform: translateX(100%);
  }
}  
.right-to-center{
  animation-name: right-to-center;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes right-to-center{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0%);
  }
} 
.right-2-to-right{
  animation-name: right-2-to-right;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes right-2-to-right{
  0%{
    transform: translateX(200%);
  }
  100%{
    transform: translateX(100%);
  }
} 
.to-right-2{
  animation-name: to-right-2;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;   
  animation-fill-mode: forwards;  
}
@keyframes to-right-2{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(200%);
  }
} 



/* ************************************************* */


